@define-color LightPink #FFB6C1;
@define-color LightSkyBlue #87CEFA;
@define-color LightSeaGreen #20B2AA;
@define-color LightGrey #D3D3D3;
@define-color Gainsboro #DCDCDC;
@define-color Cyan #00FFFF;
@define-color GhostWhite #F8F8FF;
@define-color Gray #808080;