@import "./colors.css";

* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
    font-weight: bold;
    background-color: gray;
    border-radius: 10px;
    min-height: 0px;
}

#window,
#tooltip {
    background-color: gray;
}

#waybar {
    background: white;
    border-radius: 10;
}

#workspaces {
    margin: 1px 0;

}

#workspaces button {
    color: white;
    padding: 0 5px;
}

#workspaces button:hover {
    /* background: cyan; */
    transition: none;
    border-bottom: 1px;
    padding: 0 8px;
}

#workspaces button.active {
    color: lavender;
    border: 2px solid cyan;
    padding: 0 8px;
    margin: 0 2px;
}

#cpu,
#disk,
#tray,
#clock,
#memory,
#network,
#battery,
#bluetooth,
#backlight,
#pulseaudio,
#custom-menu, 
#custom-hyprpicker {
    color: white;
    margin: 1px 0;
    padding: 0 10px;
}


#cpu:hover,
#disk:hover,
#clock:hover,
#memory:hover,
#battery:hover,
#network:hover,
#bluetooth:hover,
#backlight:hover,
#pulseaudio:hover,
#custom-user:hover,
#custom-ping:hover,
#custom-playerctl:hover,
#custom-hyprpicker:hover,
#custom-playerlabel:hover {
    background-color: rgba(255, 255, 255, 0.491);
}

#network,
#pulseaudio {
color: white;
}

#custom-ping {
    color: white;
    margin-right: 0px;
}

#custom-user {
margin-right: 75px;
color: white;
font-family: Monocraft Nerd Font;
}

#clock {
    margin-right: 0px;
    color: white;
}


#custom-playerlabel,
#custom-playerctl {
    color: white;
    padding: 0px 0px 0 20px;
}