/* ==============================================================================
   KISS: KEEP IT SIMPLE AND STUPID (WHITE MODE - REFINED)
   ============================================================================== */

* {
    font-family: "Elymaic", "0xProto Nerd Font Mono", "Material Icons";
    font-size: 15px;
    font-weight: bold;
    color: #2e3440;
    margin: 0px 3px;
}

#waybar {
    background-color: rgba(255, 255, 255, 0.708);
}

#window,
#tooltip {
    background-color: rgba(255, 255, 255, 0.357);
}

tooltip label {
    color: #1e66f5;
}

#workspaces {
    margin: 0px 30px;
}

#cpu,
#disk,
#clock,
#memory,
#network,
#backlight,
#pulseaudio,
#temperature,
#custom-menu,
#custom-text,
#custom-github,
#custom-pacman,
#idle_inhibitor,
#custom-hypridle,
#custom-gamemode,
#custom-wallpaper,
#custom-weather,
#custom-hyprpicker,
#custom-playerlabel {
    margin: 2px 10px;
}

#custom-weather {
    margin: 0px;
}

#custom-lock,
#custom-exit_session,
#custom-hypridle.on,
#custom-menu {
    color: #1e66f5;
}

#custom-shutdown {
    color: #d20f39;
}

#custom-hypridle.off,
#pulseaudio.muted {
    color: #df8e1d;
}

#network.disconnected {
    color: #d20f39;
}

#custom-pacman.updated {
    color: #40a02b;
}

#custom-pacman.found-update {
    color: #df8e1d;
}

#custom-playerlabel.Paused {
    color: rgba(0, 0, 0, 0.3);
}

#custom-text.delete {
    color: rgba(0, 0, 0, 0.4);
}

*:hover {
    animation: none;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.06);
    transition: background-color 0.15s ease-in-out;
}

#custom-text,
#custom-menu:hover,
#custom-text:hover {
    padding: 0 0;
    background-color: transparent;
}